FOUNDRY_SCRIPT_DEPS=deployed
FOUNDRY_EXPORTS_OVERWRITE_LATEST=true
L1="sepolia"
L2="arbitrum_one_sepolia"
ETH_RPC_URL=
ARBITRUM_ONE_RPC_URL=
SEPOLIA_RPC_URL=
ARBITRUM_ONE_SEPOLIA_RPC_URL=
DEPLOYER=
PRIVATE_KEY=$(cat /path/to/pkey)
ETHERSCAN_KEY=
ARBISCAN_KEY=
